body {
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(233, 221, 203);
}

div {
    display: block;
}

h1 {
    font-size: 62px;
    font-style: bold;
    color: white;
    padding-top: 100px;
    padding-right: 40px;
}


a {
    font-size: 20px;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(salmon, red);
    padding: 15px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 900;

}

.half-width {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.half-width p {
    font-size: 20px;
    color: white;
}

.first-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.half-width2 {
    text-align: center;
    margin: 0px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.half-width2 p {
    font-size: 15px;
    color: black;
}

.half-width2 h1 {
    color: black;
    font-weight: bold;
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 0;
}


.donatepara {
    margin-bottom: 35px;
}


.donation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.donation div {
    padding: 15px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 10px 10px 50px 10px;
    height: 80px;
    width: 80px;
}

#taka {
    border: 2px solid #FF5959;
}

.donation div h2 {

    color: #707070;
    text-align: center;
    font-size: 25px;
}

.form input {
    margin: 20px auto;
    margin-top: 40px;
    display: block;
    width: 765px;
    border: none;
    border-bottom: 2px solid #dadada;
    text-align: center;
    outline: none;
    font-size: 18px;
    color: #707070;
    padding: 10px 0;
}



.button1 {
    text-decoration: none;
    background-image: linear-gradient(salmon, red);
    padding: 15px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    margin: 800px 650px 650px 650px;
}

.form {
    margin-bottom: 100px;
}


.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 80px 80px 80px 80px;
}

.plans div {

    padding: 40px;
    margin: 20px 20px 20px 20px;
    border-radius: 50px;
}

#food {
    text-align: justify;
    background: rgb(252, 252, 252);
    background: linear-gradient(90deg, rgba(252, 252, 252, 1) 0%, rgb(140, 139, 210) 0%, rgb(198, 206, 255) 100%);
}

#shelter {
    text-align: justify;
    background: rgb(252, 252, 252);
    background: linear-gradient(90deg, rgba(252, 252, 252, 1) 0%, rgba(210, 139, 139, 1) 0%, rgba(255, 51, 51, 1) 100%);
}

#education {
    text-align: justify;
    background: rgb(252, 252, 252);
    background: linear-gradient(90deg, rgba(252, 252, 252, 1) 0%, rgb(168, 210, 139) 0%, rgb(33, 202, 58) 100%);
}


.planheader h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.plandetails p {
    text-align: center;
    color: #707070;
}

a {
    font-size: 18px;
}

.linkbtn {
    text-decoration: none;
    background-image: linear-gradient(salmon, red);
    padding: 15px 30px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.half-width4 {
    text-align: justify;
    width: 50%;
    padding: 50px;
    margin-left: 10px;
    margin-top: 20px;
    display: block;
}

.half-width4 img {
    width: 80%;
    padding-left: 5px;
    padding: 20px;
    padding-bottom: 5px;
}

.half-width4 p {
    font-size: 18px;
    color: rgba(77, 26, 72, 0.964);
    padding-left: 11px;
}

.flexible-container {
    display: flex;
}

.half-width4 h1 {
    padding: 5px;
    font-size: 50px;
    font-style: bold;
    color: black;
}

.updateheading h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 20px;
}



.section5 .input1 {
    background: rgb(215, 144, 44);
    background: linear-gradient(90deg, rgb(155, 96, 55) 0%, rgba(209, 139, 106, 0.763) 100%);
    border-radius: 5px;
    width: 40%;
    padding: 60px;
    display: flex;
    justify-content: center;
    margin: 20px 40px 110px 400px;
}

.input1 input {
    outline: none;
    border-style: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #dddddd;
}

.section5 .input1 a {
    background-color: #cf1212;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.section5 .updateheading h1 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section5 .updatedetails p {
    text-align: center;
}

footer {
    width: 100%;
    background-color: #0B0D17;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.red {
    color: indigo;
}

.grey {
    color: white;
}

footer p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}

footer h3 {
    font-weight: bold;
    font-size: 35px;
    padding: 10px 0;
}

.sectionbonus .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: larger;
    color: white;
}

.sectionbonus .activitiesheader h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.sectionbonus .activitiesheader p {
    text-align: center;
    font-size: 28px;
    color: white;
}


.sectionbonus div {
    padding: 15px;
    border-radius: 5px;
    margin: 10px 10px 50px 10px;

}

.sectionbonus {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

}

.sectionbonus .boxes p {
    color: black;
    background: #dadada;
    border-radius: 5px;

}

.indigo {
    color: indigo;
}